/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~Defined Colors~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
:root {
    /* USER DEFINED COLORS - ADJUST TO PREFERENCES */
    --fav-color: #851a85;
    --fav-color-select: #b925b9;
    --background-color: #ffffff;
    --darker-background-color: #dddddd;
    --card-color: #bbbbbb;
    --border-color: #666666;
    --black: #000000;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~General Styling~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
h1 {
    font-family: 'Franklin Gothic', sans-serif;
    text-align: center;
    font-variant: small-caps;
}
h2 {
    font-family: 'Franklin Gothic', sans-serif;
    font-variant: small-caps;
}
p {
    font-family: Arial, sans-serif;
    font-size: 1.2em;
}
a {
    color: var(--fav-color);
    text-decoration: none;
}
body {
    background-color: var(--background-color);
    color: var(--black);
    margin: 0;
    padding: 0;
}
a:hover {
    color: var(--fav-color-select);
    text-decoration: underline;
}
.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.page-content {
    max-width: 80vw;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
}
.card {
    background-color: var(--darker-background-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~Modal Styling~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: var(--background-color);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid var(--border-color);
    width: 80%;
    max-width: 500px; /* Limit the maximum width */
    border-radius: 5px;
}

.modal button {
    background-color: var(--fav-color);
    color: var(--black);
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.modal button:hover {
    background-color: var(--fav-color-select);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~Home Styling~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.skill-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 10px 0;
    justify-content: center; /* Center the skill cards */
}
.skill-card {
    background: var(--card-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.08);
    padding: 10px;
    margin: 0;
    text-align: center;
    font-family: 'monospace', monospace;
    display: inline-block;
    white-space: nowrap; /* Ensures text stays on one line */
}
.skill-card p {
    margin: 0;
    padding: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~Library Styling~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.book-cover {
    max-height: 300px;
    object-fit: contain;
    border-radius: 4px; 
    margin: 20px;
}
.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 10px 0;
    gap: 16px;
    justify-content: center;
}
.book-grid a {
    text-decoration: none;
    color: var(--black);
    transition: transform 0.2s ease-in-out;
    margin: 0 auto; /* Center the book cards */
    margin-bottom: 20px; /* Add space between rows */
}
.book-card {
    width: 250px;
    height: 100%;
    background-color: var(--card-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}
.book-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
.cover-stack {
    position: relative;
    width: 100%;
    height: 300px; /* Adjust based on your cover image size */
    margin: 20px 0;
    justify-content: center;
}
.cover-stack .book-cover {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    margin: 0;
}
.book-cover.first {
    top: 10px;
    transform: translateX(calc(-50% - 15px));
    z-index: 3;
}
.book-cover.second {
    top: 0px; /* Center layer */
    transform: translateX(-50%);
    z-index: 2;

}
.book-cover.third {
    top: -10px; /* Adjust for desired overlap */
    transform: translateX(calc(-50% + 15px));
    z-index: 1;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~Resume Styling~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.job-entry-card {
    background-color: var(--card-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.07);
}
.job-entry {
    width: 100%;
    border-collapse: collapse;
}
.job-entry td {
    padding: 10px;
    border: none;
}
.job-entry h2 {
    margin: 0;
    font-size: 1.5em;
}
.job-entry p {
    margin: 5px 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~Header Styling~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.header {
    background-color: var(--darker-background-color);
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    border-bottom: 2px solid var(--black);
    width: 80%;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
}
.header nav {
    margin-left: auto;
    margin-right: 0;
}
.nav-table td {
    padding: 0 10px;
    border-right: var(--black) 1px solid;
}
.nav-table td:last-child {
    border-right: none;
}
.nav-table a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    font-family: 'Franklin Gothic', sans-serif;
    
}
.nav-table a:hover {
    text-decoration: underline;
    color: var(--fav-color);
}
.nav-table { display: table; }
.mobile-nav { display: none; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~Phone Styling~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 700px) {
    .nav-table { display: none; }
    .mobile-nav { display: block; position: relative; }
    #menu-toggle {
        font-size: 2em;
        background: none;
        border: none;
        cursor: pointer;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: var(--background-color);
        border: var(--black) 2px solid;
        min-width: 200px;
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
        z-index: 9999;
    }
    .dropdown-content a {
        color: var(--black);
        padding: 5px;
        text-decoration: none;
        display: block;
        font-weight: bold;
    }
    .dropdown-content a:hover {
        background-color: var(--background-color);
    }
    .dropdown-content.show {
        display: block;
    }
    .job-entry, .job-entry tr, .job-entry td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
    .job-entry {
        border: none;
        margin-bottom: 15px;
        background: var(--card-color);
        box-shadow: 0 2px 6px rgba(0,0,0,0.07);
        padding: 10px;
    }
}
